In [ ]:
'''class L:
    def __init__(self,list):
        self.list = list
        
    def change(self,listt):
        self.list = listt
class S:
    def __init__(self,str):
        self.str = str

t = L([87,33,44])
t2 = L([87,33,44])
t.change([8,2])
s = S("string")
d = dict()
d[t] = "list"
#d[s] = "string"
print(d[t])
print(id(t),id(t2),id(s))
hash(hash(t).real)'''

In [ ]:
import pandas as pd

In [ ]:
hash("""\n""")

In [ ]:
help(set)

In [ ]:


import pandas as pd

dict = {"name":['sahil','rohit','keshav'],
        "id":[101,102,103],
        "city":['Pune','banglore','mumbai']}
df = pd.DataFrame(dict)
#print(df.rename({'name':'new_name'},axis=1))
df.rename({'name':'new_name'},axis=1,inplace=True)



#df.drop(0,inplace=True)
df.drop('new_name',axis = 1,inplace=True)
df.drop(columns=['id','city'],axis = 1,inplace=True)


dataframe_dict = {
    "Creation": ['pd.DataFrame()', 'pd.Series()', 'pd.date_range()', 'pd.period_range()', 'pd.timedelta_range()',
                 'pd.Categorical()', 'pd.DataFrame.from_dict()', 'pd.DataFrame.from_records()', None, None, None, None, None, None, None, None, None],
    "Selection": ['.loc[]', '.iloc[]', '.at[]', '.iat[]', '.query()', '.filter()', '.get()', None, None, None, None, None, None, None, None, None, None],
    "Indexing": ['.set_index()', '.reset_index()', '.reindex()', '.rename_axis()', '.sort_index()', None, None, None, None, None, None, None, None, None, None, None, None],
    "Sorting": ['.sort_values()', '.rank()', '.sort_index()', None, None, None, None, None, None, None, None, None, None, None, None, None, None],
    "Aggregation and Statistics": ['.sum()', '.mean()', '.median()', '.std()', '.var()', '.min()', '.max()', '.count()', '.mode()', '.describe()', '.idxmax()', '.idxmin()', '.corr()', '.cov()', '.quantile()', '.skew()', '.kurt()'],
    "Transformation": ['.apply()', '.map()', '.applymap()', '.transform()', '.replace()', '.rename()', '.clip()', None, None, None, None, None, None, None, None, None, None],
    "String Operations": ['.str.lower()', '.str.upper()', '.str.title()', '.str.strip()', '.str.split()', '.str.contains()', '.str.replace()', '.str.findall()', '.str.join()', None, None, None, None, None, None, None, None],
    "Date/Time Operations": ['.dt.year', '.dt.month', '.dt.day', '.dt.hour', '.dt.minute', '.dt.second', '.dt.weekday', '.dt.weekofyear', '.dt.is_leap_year', '.to_datetime()', None, None, None, None, None, None, None],
    "Merging and Joining": ['pd.merge()', '.join()', 'pd.concat()', '.append()', '.combine_first()', None, None, None, None, None, None, None, None, None, None, None, None],
    "Pivoting and Reshaping": ['.pivot()', '.pivot_table()', '.melt()', '.stack()', '.unstack()', '.explode()', None, None, None, None, None, None, None, None, None, None, None],
    "Filtering and Cleaning": ['.isna()', '.notna()', '.dropna()', '.fillna()', '.drop_duplicates()', '.duplicated()', None, None, None, None, None, None, None, None, None, None, None],
    "Window Functions": ['.rolling()', '.expanding()', '.ewm()', None, None, None, None, None, None, None, None, None, None, None, None, None, None],
    "File I/O": ['pd.read_csv()', 'pd.read_excel()', 'pd.read_json()', 'pd.read_sql()', 'pd.read_html()', 'pd.to_csv()', 'pd.to_excel()', 'pd.to_json()', 'pd.to_sql()', None, None, None, None, None, None, None, None],
    "Visualization": ['.plot()', '.hist()', '.boxplot()', '.scatter()', '.pie()', '.bar()', None, None, None, None, None, None, None, None, None, None, None],
    "Miscellaneous": ['.info()', '.memory_usage()', '.astype()', '.nunique()', '.copy()', '.dtypes', '.size', '.shape', '.empty', '.sample()', '.equals()', None, None, None, None, None, None]
}


df2 = pd.DataFrame(dataframe_dict)
describe = df2.describe()
print(describe)
slice = df2.loc[1:2,'Creation':'Visualization']
print(slice)
discontinuity = df2.loc[1:2,['Creation','File I/O','Selection',"Date/Time Operations"]]
print(discontinuity)
discontinuity2 = df2.loc[[0,3],['Creation','File I/O','Selection']]
#df.loc[[0,2],['id','sal']]
print(discontinuity2)
discontinuity3 = df2.iloc[0:4,0:4]
discontinuity4 = df2.iloc[0:3,[4,9,1]]

print(discontinuity3)
print(discontinuity4)
discontinuity5 = df2.loc[2,'Sorting']
discontinuity6 = df2.iloc[2,3]
print(discontinuity5)
print(discontinuity6)

print(df2.tail(5))
print(df2.sample(10))
v = 0
for i in df.iterrows():
    v+=1
print(v)
print(df.iloc[v//2,:])
print(df2.dtypes)
print(df2.select_dtypes('float64'))
print(df2.ndim)
print(df2.size)
print(df2.memory_usage())
#print(df2.astype('Creation':"str"))
print(df2.index)
print(df2.info)


display(df2)

In [ ]:

dictionary = {"name":['sahil','rohit','keshav','sahil','rohit','keshav','sahil','rohit','keshav'],
        "id":[101,102,103,101,102,103,101,102,103],
        "city":['Pune','banglore','mumbai','Pune','banglore','mumbai','Pune','banglore','mumbai']}


df = pd.DataFrame(dictionary,index=pd.date_range('20250126',periods=9),columns=[1,2,3])
#df.rename_axis("cols",axis=1,inplace=True)
df.rename_axis("date",inplace=True)


df.rename({"name" : "new_name" , "id" : 'new_id'} , axis = 1 , inplace=True)
df.rename(columns={'name' : 'my_name'},inplace=True,errors='ignore')
#df.rename(index = pd.date_range('20252601',periods=3), inplace=True)
#df.rename({ 0 : 'row_1' , 1 : 'row_2'},axis = 0, inplace=True,errors = 'ignore')
f = 0
for i in df.iterrows():
    df.rename({i:f},inplace = True)
    j+=1

df

In [ ]:

dictionary = {"name":['sahil','rohit','keshav','sahil','rohit','keshav','sahil','rohit','keshav'],
        "id":[101,102,103,101,102,103,101,102,103],
        "city":['Pune','banglore','mumbai','Pune','banglore','mumbai','Pune','banglore','mumbai']}


df = pd.DataFrame(dictionary)#,index=pd.date_range('20250126',periods=9))
#df.rename_axis("cols",axis=1,inplace=True)
df.rename_axis("date",inplace=True)


df.rename({"name" : "new_name" , "id" : 'new_id'} , axis = 1 , inplace=True)
df.rename(columns={'name' : 'my_name'},inplace=True,errors='ignore')
#df.rename(index = pd.date_range('20252601',periods=3), inplace=True)
#df.rename({ 0 : 'row_1' , 1 : 'row_2'},axis = 0, inplace=True,errors = 'ignore')
"""f = 111
for i in df.iterrows():
    df.rename({i[0] : f},axis=0,inplace=True)
    f+=1
    if i[0] == 4:
        break"""

df

In [ ]:
df.drop(columns = ['city','new_id'],axis = 1, inplace=True)
df

In [ ]:
df

In [ ]:
# Create a MultiIndex DataFrame
index = pd.MultiIndex.from_tuples([('A', 1), ('A', 2), ('B', 1), ('B', 2)], names=['Letter', 'Number'])
data = [[1, 2], [3, 4], [5, 6], [7, 8]]
df_multi = pd.DataFrame(data, index=index, columns=['X', 'Y'])
df_multi
# Drop rows where 'Letter' is 'A'
#df_dropped = df_multi.drop(labels='A', axis=0, level='Letter')

#df_dropped

In [ ]:
index = pd.MultiIndex.from_tuples([('A',1),('A',3),('A',4),('B',1),('B',2),('B',3),('B',4),('C',1),('C',2),('C',3),('C',4),("C",5)],names=['Letters','num'])

In [ ]:
data = [[1, 2], [3, 4], [5, 6], [1, 2], [3, 4],[9,0], [5, 6], [7, 8],[1, 2], [3, 4], [5, 6], [7, 8]]

df_mul = pd.DataFrame(data,index = index , columns = ['x','y'])
df_mul
#df_mul.ndim

In [ ]:
df.describe(include='all')

In [ ]:
df.loc[sorted([*list(range(0,9))],reverse=True),['city','new_name',"new_id"]]

In [ ]:
l1 = [*list(range(0,9))]
l2 = [*list(range(0,3))]
l1.reverse();l2.reverse()
df.iloc[l1,l2]

In [ ]:
df.loc[0:3,'new_name']

In [ ]:
df.iloc[[*list(range(0,8))].reverse(),[*list(range(0,2))].reverse()]

In [ ]:
df.tail(1)

In [ ]:
 v= 0
for i in df.iterrows():
    v+=1
print(v)
df.iloc[v//2,:]

In [ ]:
df2.iloc[[2,3,5],0]

In [ ]:
l = []
print(id(l))
print(memoryview(bytes(l)))
m = [2,9]
print(id(m))
mv = memoryview(bytearray(m))
mv[0] = 99
print(mv.tolist() , m)

In [ ]:
m = bytearray([2, 9])
print(id(m))  # Memory address of the bytearray

mv = memoryview(m)  # Create a memoryview of the bytearray
mv[0] = 99          # Modify the first element through the memoryview

print(mv.tolist(), m)  # Output: [99, 9] bytearray(b'\x63\x09')

In [ ]:
#data = bytearray(b"Hello, world!")
mv = memoryview(bytearray(b"Hello, world!"))
import sys
print(sys.getsizeof(mv))
# Modify "world" to "Python"
mv[6:12] = b"Python"

data = mv.tobytes().decode('utf-8')
print(data)# Output: bytearray(b'Hello, Python!')

In [ ]:
import sys
d = "Hello, world!"
sys.getsizeof(d)

In [ ]:
import sys

# Simulate reading large data (e.g., from a file)
large_data = bytearray(b"A" * 10**6)  # 1 million 'A' characters
d = "A" * 10**6
mv = memoryview(large_data)  # Create a memoryview of the data

# Check memory usage of large_data and memoryview
print(f"Memory usage of large_data: {sys.getsizeof(large_data)} bytes")
print(f"Memory usage of memoryview: {sys.getsizeof(mv)} bytes")
print(f"Memory usage of memoryview: {sys.getsizeof(d)} bytes")


# You can access parts of the data without copying
print(mv[100:200].tobytes().decode('utf-8'))  # Access a slice (no copy)

# Modify the slice directly
mv[100:113] = b"Modified data"

# Check the original data is updated
print(f"Memory usage after modification (large_data): {sys.getsizeof(large_data)} bytes")
print(f"Memory usage after modification (memoryview): {sys.getsizeof(mv)} bytes")

In [ ]:
weights = [0.1, 0.2, 0.3, 0.2, 0.2]
df2.sample(frac = 0.5,replace=True,random_state= 42)#weights = weights)

In [ ]:
df.dtypes
df2.dtypes

In [ ]:
import pandas as pd

# Load Titanic dataset from a CSV file
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df3 = pd.read_csv(url)

# Display first 5 rows
#print(df.dtypes)
df3.describe()

In [ ]:
df3.select_dtypes('int64')

In [ ]:
df ; print(891*12) ; print("hello")

In [ ]:
df3.size

In [ ]:
df3.ndim

In [ ]:
df3.memory_usage()

In [ ]:
sys.getsizeof(df3)/1024

In [ ]:
df3.index

In [ ]:
df3.info()

In [ ]:
df3

In [ ]:
df3['PassengerId'].astype(float)

In [ ]:
df3.astype({'PassengerId' : "float64" , "Age" : "int64"} ,errors='ignore')

In [ ]:
df3

In [ ]:
df3.rename(index={0:"zero",1:"one"}, columns={'PassengerId':11 })

In [ ]:
df3

In [ ]:
help(df3.dtypes)

In [ ]:
df3['Fare'].astype(int)

In [ ]:
df3.ndim

In [ ]:
df3.drop(index=list(range(0,888)) , columns = ['Survived','Pclass','Sex','Ticket','Parch','Fare'])

In [ ]:
df4 = pd.read_csv("Amazon Sale Report.csv" , low_memory=False)
print(df4.memory_usage(index=False,deep = True).sum())
df4.info()
df4['Category'].astype('category')
print(df4.memory_usage(index=False,deep = True).sum())

### df4.loc[:,'index']

In [ ]:
df4.set_index('Fulfilment',inplace=True)

In [ ]:
df4.reset_index('Fulfilment' , inplace=True)

In [ ]:
df4["Status"] == "Cancelled"

In [ ]:
df4.loc[:,['Status',"Category","ship-city"]][(df4["Status"] == "Shipped") & (df4['Category'] == 'Set') & (df4['ship-city'] == "MUMBAI")]

In [ ]:
df4['Category'].filter(like = 'et')

In [ ]:
df4.filter(like='Se' , axis=1)

In [ ]:
df4['Amount'].std()

In [ ]:
df4.describe()

In [ ]:
df4[df4['Amount'] == df4['Amount'].max()]

In [ ]:
df4[(df4["Status"] == "Shipped") & (df4['Category'] == 'Set') & (df4['ship-city'] == "MUMBAI")]

In [ ]:
df4[(df4['Amount'] == df4['Amount'].min()) & (df4['ship-city'] == 'MUMBAI')]

In [ ]:
df4

In [ ]:
obj = df4.groupby('ship-city')

In [ ]:
df5 = obj.get_group("MUMBAI")

In [ ]:
df5['Order ID']
print(df5)

In [ ]:
obj2 = df4.groupby("ship-city")
obj3 = obj2.get_group("MUMBAI")["Amount"].sum()
obj3

In [ ]:
df4[(df4['ship-city'] == 'MUMBAI')]['Amount'].sum()

In [ ]:
df4.loc[:,'ship-city'][

In [ ]:
for name , group in df4.groupby('ship-city'):
    display("Group - {}".format(name))
    display(group)

In [ ]:
df4.groupby("Category").get_group("Set").agg({'Amount' : ['sum' , 'min' , 'max','std','median','count']})

In [ ]:
df4[(df4['Category'] == 'Set')]['Amount'].count()

In [ ]:
import pandas as pd

df = pd.read_csv("city_temperature.csv",low_memory=False)
#display(df)
#print(df)
obj = df.groupby("City")#gives obj ---> already have groups created in it so then get group
#[(i, display(j)) for i , j in obj]
alg = obj.get_group("Algiers")

#print(alg)

aggg = obj.agg({"Year":"max"})
#display(aggg)
merge_aggg  =  aggg.merge(obj.agg({"Year":"min"}),on="City",suffixes=("_max","_min"))
#aggeragate function

#print(aggg)
display(merge_aggg)
s = df.groupby("City").AvgTemperature.agg(["min","max","count","mean"])
#display(s)

In [ ]:
import pandas as pd

df = pd.read_csv("city_temperature.csv", low_memory=False)
display(df)

# Grouping the DataFrame by 'City'
obj = df.groupby("City")
display(obj.AvgTemperature)
# Getting data for a specific city
alg = obj.get_group("Algiers")
#print(alg)

# Aggregating to get the max Year for each City
aggg = obj.agg({"Year": "max"})
display(aggg)

# Merging max and min Year values for each City correctly
merge_aggg = obj.agg({"Year": "max"}).merge(
    obj.agg({"Year": "min"}), on="City", suffixes=("_max", "_min")
)

# Display merged aggregation
display(merge_aggg)

# Aggregating AvgTemperature with multiple statistical operations
s = df.groupby("City").AvgTemperature.agg(["min", "max", "count", "mean"])
display(s)

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    "City": ["New York", "Los Angeles", "Chicago"],
    "Population": [8419600, 3980400, 2716000]
})

df2 = pd.DataFrame({
    "City": ["Chicago", "New York", "San Francisco"],
    "Area": [606, 783, 121]
})

merged_df = df1.merge(df2 , on = 'City' , how = 'outer' )
display(merged_df)

con = pd.concat([df1,df2],axis=1,keys=['df1','df2'])#ignore_index=False)
display(con)

In [ ]:
pd.concat([df2,df] , axis = 1 ,keys = ['df2' , 'df' ] )

In [ ]:
data = {
    "id": [1, 2, 3,1, 2, 3,3,4],
    "name": ["Alice", "Bob", "Charlie","Alice", "Bob", "Charlie","Bob", "Charlie"],
    "sal": [50000, 60000, 70000,80000,80000,60000,5573578,8348938],
    "city": ["New York", "Los Angeles", "Chicago","New York", "New York", "Los Angeles","Los Angeles", "Chicago"],
    "yo": [5, 8, 10,5, 8, 10,8, 10]
}
df = pd.DataFrame(data)

In [ ]:
df.sort_values("sal" , ascending = False).groupby('city').sal.min()

In [ ]:
df.sort_values("sal" , ascending = False).groupby('city')

In [ ]:
df['rank'] = df.sort_values('sal' , ascending= False ).groupby("city").cumcount()+1
df

In [ ]:
obj_rank = df.sort_values('sal' , ascending= False ).groupby("city")
for name , group in obj_rank:
    display(group['sal'].rank(method='dense'))

In [ ]:
df['rank'] = df.sort_values("sal",ascending=False).groupby("city").cumcount()+1
#group-wise diff rank --- cummulative count
display(df)

df['dense'] = df['sal'].rank(method='dense',ascending=False)
display(df)
df.count().id

In [ ]:
df["rank_average"] = df["sal"].rank(method="average",ascending=False)
df["rank_min"] = df["sal"].rank(method="min",ascending=False)
df["rank_max"] = df["sal"].rank(method="max",ascending=False)
df["rank_dense"] = df["sal"].rank(method="dense",ascending=False)
df["rank_first"] = df["sal"].rank(method="first",ascending=False)

#display(df.iloc[:,:].tail(df.count().id))
df.loc[[3,2],:]

In [ ]:
emp = [('Swara',101,90099999999999999),('Swara',101,90099999999999999),('Swara',101,90099999999999999),('Swara',101,90099999999999999),('Swara',101,90099999999999999)]

df6 = pd.DataFrame(emp , index = [11,12,13,14,15] , columns = ['Name',"emp id" , 'salary'])
df6

In [ ]:
pd.read_csv("/home/sahil/Downloads/mac_roman.csv")

In [ ]:
df7 = df4.loc[len(df4.index)//2,:]

In [ ]:
display(df7)

In [ ]:
df

In [ ]:
pd.read_csv("/home/sahil/Downloads/mac_roman.csv" , names = ['c1','c2','c3'] )

In [ ]:
df16 = pd.read_csv("sample_data_semicolon.csv",sep = ';')
df16

In [ ]:
#cat sample_data_tab.csv
df18 = pd.read_csv("sample_data_tab.csv" , sep = '\t')
df18

In [ ]:
df19 = pd.read_csv("all_args.csv" , header = 2)
df19

names = list(df19.iloc[2,:].keys())

names

df20 = pd.read_csv("all_args.csv" , names = names)
df20.drop(2)

In [ ]:
df21 = pd.read_csv("all_args.csv" , index_col = "ID")
df21
type(df21.iloc[4,0:1])

import numpy as np
df21.loc[np.nan,:]

In [ ]:
df22 = pd.read_csv("all_args.csv" , na_values=['','NA'])
df22

In [ ]:
df22[(df22['Salary'].notna())&(df22['ID'].notna())]

In [ ]:
def f():
    for i in pd.read_csv("research-and-development-survey-2023.csv",chunksize=1):
        yield i 
for i in f():
    display(i)

In [ ]:
pd.read_csv("research-and-development-survey-2023.csv",skiprows=1000)

In [ ]:
df7 = pd.read_excel("/home/sahil/read_excel.xlsx" , names = ['col1','col2','col3'])#,index_col=[0])
df7

In [ ]:
df7.loc[2,:]

In [ ]:
df7[['col3','col2','col1']]

In [ ]:
df7.iloc[:,list(range(0,len(df7.columns),1))[::-1]]

In [ ]:
df7.get('col34')

In [ ]:
df7.select_dtypes(df7['col2'].dtypes)

In [ ]:
df7.select_dtypes('O')

In [ ]:
df8 = pd.read_excel("/home/sahil/Downloads/Dataset/Northwind.xlsx" , sheet_name = 'Customers')
df8

In [ ]:
menu_items = [
    "Categories", "Customers", "Suppliers", "Employees",
    "Order Details", "Orders", "Product", "Shippers",
    "LDM", "PDM"
]

In [ ]:
df_list = []
for sub_sheet in menu_items:
    df_list.append(pd.read_excel("/home/sahil/Downloads/Dataset/Northwind.xlsx" , sheet_name = sub_sheet))

In [ ]:
pd.concat(df_list , axis = 0 , keys = [str(items) for items in menu_items])

In [ ]:
import requests , json , pprint
response = requests.get("https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json")
content = response.content
dict_js = json.loads(content)
pprint.pprint(dict_js)
df9 = pd.DataFrame(dict_js)
df9

In [ ]:
url = 'https://raw.githubusercontent.com/json-iterator/test-data/refs/heads/master/large-file.json'
import requests , json , pprint
response = requests.get(url)
content = response.content
dict_js = json.loads(content)
#pprint.pprint(dict_js)
df9 = pd.DataFrame(dict_js)
df9

In [ ]:
list(df9.iloc[0,2].keys())

In [ ]:
df9.count().actor

In [ ]:
headers = []
for i in range(df9.count().payload):
    
    if list(df9.loc[i,'payload'].keys()) not in headers:
        headers.append(list(df9.loc[i,'payload'].keys()))
headers

In [ ]:
df9[(list(df9['payload'].keys())

In [ ]:
df10 = pd.DataFrame(df9['actor'])
df10

In [ ]:
import csv

In [ ]:
with open("id2.csv","w") as file:
    w_obj = csv.DictWriter(file , fieldnames = ['id','login','gravatar_id','url','avatar_url'])
    w_obj.writeheader()
    for row in range(len(df10.index)):
        w_obj.writerow(df10.iloc[row,0])

In [ ]:
cat id2.csv

In [ ]:
for i in range(len(headers)):
    with open(f"id{i+4}.csv","w") as file:
        w_obj = csv.DictWriter(file , fieldnames = headers[i])
        w_obj.writeheader()
        for row in range(df9.count().payload):
            try:
                w_obj.writerow(df9.iloc[row,4])
            except:
                pass

In [ ]:
cat id3.csv

In [ ]:
str(df10.iloc[i,0] for i in range(len(df10.index)))

In [ ]:
df10.iloc[0:3,0]

In [ ]:
len(df10.index)

In [ ]:
df11 = pd.read_csv('id2.csv')

In [ ]:
df11

In [ ]:
df12 = pd.read_csv('id3.csv')
df12
import pandas as pd

In [ ]:
df13 = pd.read_csv('id4.csv')
df13

In [ ]:
json_str = {
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}
import json
type(json_str)
df11 = pd.read_json('/home/sahil/ai_nexus_classes/Test_git/test_git/large-file.json')
df11

In [ ]:
df15 = pd.read_html("https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory")

In [ ]:
df15[0]

In [ ]:
type(df15)

In [ ]:
j = 0
for i in df15:
    display(i)
    j+=1
print(j)

In [ ]:
url = "https://www.filesampleshub.com/download/code/json/sample3.json"
file = 'sample4.json'
string = '{"a" : ["A",1,2] , "b" : ["B",1,2]  , "c" : ["C",1,2] }'
df31 = pd.read_json(url)
df32 = pd.read_json(file)
from io import StringIO
df33 = pd.read_json(StringIO(string) , orient='columns')
df33

In [ ]:
import pandas as pd

In [ ]:
df30 = pd.DataFrame([('A','1') , ('A','2') , ('A','3') , ("B" , "1")  , ("B" , "2")  , ("B" , "3")] , columns = ['a','b'])
df30

In [ ]:
df15 = pd.read_html("https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory")
df15[0]

In [ ]:
df15[0].to_csv("html_1.csv" , index=False)

In [ ]:
df15[0].to_html("table.html")

In [ ]:
df15[0].shape

In [ ]:
df15[0]

In [ ]:
list(df3.columns)

In [ ]:
df3[['Parch','Sex']]

In [ ]:
df3 = pd.read_csv("Amazon Sale Report.csv" , low_memory=False)
cols = [cols for cols in df3.columns if cols not in ['index','Order ID']]
new_cols = []
for c in cols:
    new_cols.append("_".join(c.split()))
new_dict = {k:v for k,v in zip(cols,new_cols) }
df3.rename(new_dict,axis = 1,inplace = True)
list(df3.columns)

In [ ]:
df3.T

In [ ]:
for c in cols:
    print("_".join(c.split()))

In [ ]:
final = df3[[cols for cols in df.columns if cols.startswith('s')]]
final

In [ ]:
final.columns = ['A1','A2','A3','A4','A5']
final

In [ ]:
df3.columns[0]

In [ ]:
import numpy as np
import datetime
df3['last updated'] = datetime.datetime.now()
df3

In [ ]:
[i for i in df3.index]

In [ ]:
len(range(1,100))

In [ ]:
[i for i in iter(df3.index)]

In [ ]:
df3.shape[-1]

In [ ]:
encode_dict = {'id':[101,102,103],
                'name' : ['A','B','C'],
                  "points":[100,200,300]
              }
df34 = pd.DataFrame(encode_dict)
df34
                    

def col_encode(val,p):
    if val == 100:
        return "low"
    elif val == 200:
        return "medium"
    else:
        return "high"
    

df34["code"] = df34['points'].apply(lambda x: col_encode(x,'p'))

def col_encode(val):
    if val == 100:
        return "low"
    elif val == 200:
        return "medium"
    else:
        return "high"
df34["code"] = df34['points'].map(col_encode) #map -- only one args

df34

In [ ]:
for indx in df34.iterrows():
    print(indx[0],indx[1][0],indx[1][1],indx[1][2],indx[1][3])

In [ ]:
for indx in df34.iterrows():
    print(*[indx[0]]+[indx[1][col] for col in range(0,df34.shape[1])])

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
display(df)
# Applying sum to each column
result = df.apply(sum, axis=0)
result2 = df.apply(sum, axis=1)

display(result)
display(result2)

In [ ]:
def square(x,y,z,v,b,n):
    return x ** 2/y
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['4', '5', '6']
})
def sum(x):
    return list({''.join([str(item[-1]) for item in x.items()]) : [item[-1] for item in x.items()]}.keys())[0]
result2 = df.apply(sum, axis=1)
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
result = df.apply(square,args=(22,22,656,33,55))
print(result2)

In [ ]:
df.shape

In [ ]:
import pandas as pd

# Creating a Series
data = pd.Series([*[10,11,12,13,14,15], 20, 30, 40], index=['a', 'b', 'c', 'd',*['e','f','g','h','i']])

print(data)

In [ ]:
data**2

In [ ]:
data.isnull()

In [ ]:
data.iloc[3]

In [ ]:
import pandas as pd

# Creating a Series
data = pd.Series([[10,11,12,13,14,15], 20, 30, 40], index=['a', 'b', 'c', 'd'])

display(data)
data.iloc[0][4]
data.loc['b']

In [ ]:
import pandas as pd

# Creating a Series
data = pd.Series([[10,11,12,13,14,15], 20, 30, 40])#, index=['a', 'b', 'c', 'd'])

display(data)
data.iloc[0][4]
#series - homogenous 
#dataframe - heterogeneous

In [ ]:
df = data.to_frame().T
df

In [ ]:
data.T

In [ ]:
!pip3 install SQLALchemy


from sqlalchemy import create_engine


con = create_engine('mysql+pymysql://usr:pass@localhost:3306/Database')


cat config.json

import json as js
with open('config.json') as fp:
    cred = js.load(fp)

connection_str = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(cred['username'],cred['password'],cred['host'],cred['port'],cred['Database'])

con = create_engine(connection_str)

sql_df = pd.read_sql('select * from exam;',con)
sql_df

sql_df4 = pd.read_sql('exam',con)
sql_df4

sql_df2 = pd.read_sql_table('exam',con)
sql_df2

sql_df3 = pd.read_sql_query("select * from exam;",con)
sql_df3

sql_df5 = pd.read_csv('Amazon Sale Report.csv',low_memory=False)


#sql_df5.to_sql(tablename,con)

sql_df5.rename({"Sales Channel ":"Sales-channel"},axis = 1,inplace=True)
sql_df5.to_sql(name = 'amazon',
               con = con,
               if_exists = 'fail',
               index = True
              )
                    



## !sudo mysql -u root -p


sudo mysql -u root -p



import time
s = time.time()
sql_df5.to_sql(name = 'amazon1',
               con = con,
               if_exists = 'fail',
               index = True
              )
e = time.time()
e - s

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon2',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=10000
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon3',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=1
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon4',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=1000
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon5',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=50000
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon6',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=346
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon7',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=300
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon8',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=20000
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon9',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=347
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon10',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=345
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon11',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=345
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon12',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=345
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
import time
s = time.time()
sql_df5.to_sql(name = 'amazon13',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=345
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
rows = sql_df5.shape[0]**(0.5)
import time
s = time.time()
sql_df5.to_sql(name = 'amazon14',
               con = con,
               if_exists = 'fail',
               index = True,
               chunksize=int(rows)
              )
e = time.time()
e - s
#can use multithereaing too

In [ ]:
df40 = pd.read_csv("Amazon Sale Report.csv" , low_memory=False)
df40

In [ ]:
df40.filter(items=['Order ID' , 'Fulfilment' , 'Style'])

In [ ]:
df40.filter(like='12',axis=0)

In [ ]:
df40.set_index('Status', inplace=True)
df40

In [ ]:
df41 = df40.filter(like='Can' , axis = 0)

In [ ]:
df40.reset_index(inplace=True)
df40

In [ ]:
a = {1,3,4,6}
b = {1,24,6,7,66}
c = {5,56,7}
a and b and c

In [ ]:
a = {1,3,4,6}
b = {1,24,6,7,66}
c = {5,56,7}
a and b and c

In [ ]:
a = {}
b = {1,4}
c = {5,56,7}
a and b and c

In [ ]:
a = {}
b = {}
c = {5,56,7}
a or b or c

In [ ]:
a = {}
b = {1,24,6,7,66}
c = {5,56,7}
not a

In [ ]:
a = {1,3,4,6}
b = {1,24,6,7,66}
c = {5,56,7}

In [ ]:
df40.sort_index(ascending=False)

In [ ]:
df40.sort_values('Amount',ascending=False).head(10)['Amount'].mean()

In [ ]:
df40.sort_index()

In [ ]:
pd.DataFrame(df40['ship-city'].value_counts())

In [ ]:
def f(x):
    if x > 50:
        return x
df40['ship-city'].value_counts().to_frame()['count'].map(f).to_frame()

In [ ]:
df41 = pd.DataFrame([i for i in df40['ship-city'].value_counts().to_frame()['count'].items() if i[-1] > 50])

In [ ]:
df41.rename({0:'city',1:'count'},axis=1 , inplace=True)

In [ ]:
df41

In [ ]:
pd.DataFrame(df40['ship-city'].value_counts())[pd.DataFrame(df40['ship-city'].value_counts())['count']>50]

In [ ]:
pd.DataFrame(df40['ship-city'].value_counts())[pd.DataFrame(df40['ship-city'].value_counts())['count']>50]

In [ ]:
pd.DataFrame(df40['ship-city'].value_counts())[pd.DataFrame(df40['ship-city'].value_counts())['count']>50]

In [ ]:
temp = pd.DataFrame(df40['ship-city'].value_counts())
temp[temp['count']>50]

In [ ]:
df40['ship-city'].value_counts().to_frame().query("count > 1233 and `ship-city`!='MUMBAI'")

In [ ]:
df40.index.isin(['MUMBAI'])

In [ ]:
import pandas as pd

# Sample Data
data = {'ship-city': ['NY', 'LA', 'NY', 'Chicago', 'LA', 'LA', 'NY', 'Chicago', 'Houston', 'NY', 'Houston'],
        'order': range(1, 12)}

df40 = pd.DataFrame(data)

# Get city counts
city_counts = df40['ship-city'].value_counts().to_frame().rename(columns={'ship-city': 'count'})

# Using .query()
filtered_df = city_counts.query("count > 2")

print(filtered_df)
filtered_df = city_counts.query("count > 2 and index != 'Houston'")
print(filtered_df)

In [ ]:
df40['amount'].describe()

In [ ]:
temp = df40['ship-city'].value_counts().to_frame()

In [ ]:
temp[(temp['count'] > 50)]

In [ ]:
temp.query('count > 50')

In [ ]:
temp.reset_index(inplace=True)

In [ ]:
temp.set_index('count',inplace=True)

In [ ]:
obj = df40.groupby('ship-state')

In [ ]:
sales = {}
for name,group in obj:
    sales[name] = group['Amount'].sum()
for i , j in sales.items():  
    if j == max(list(sales.values())):
        print(i)
group 9

In [ ]:
df40['Amount'].median() ; df40['Amount'].mode() ; df40['Status'].mode()

In [ ]:
df40['Amount'].isnull().value_counts()

In [ ]:
df40.isnull().sum()

In [ ]:
display(df40['Amount'].isnull().to_frame())

In [ ]:
df40.dropna(axis=1)

In [ ]:
df43 = pd.read_csv('titanic.csv' , low_memory=False)

In [ ]:
df43.isnull().sum()

In [ ]:
df44 = pd.read_csv('dropnatest.csv')
df44.iloc[0,2] = 9.0
df44

In [ ]:
df44.dropna(thresh = 3)

In [ ]:
df44.dropna(axis = 1)

In [ ]:
df44.dropna(how='any') ; df44.dropna(how='all')

In [ ]:
df44.fillna('NULL')

In [ ]:
df44['TEMP'] = df44['B'].fillna('NULL')

In [ ]:
df44.fillna(method='ffill',limit=2)

In [ ]:
df44.fillna(method = 'bfill',limit = 2)

In [ ]:
df44.iloc[3,1:] = df44.iloc[3,1:].fillna(33.0)
df44

In [ ]:
df44.notnull().sum()

In [ ]:
df44[(df44['B'].isna())|(df44['D'].isna())]

In [ ]:
import numpy as np
for i in df44.iterrows():
    for j in i[1]:
        if np.isnan(j):
            print(i , 'Value is nan')
            continue
        print('IS a num')

In [ ]:
for i in df44.iterrows():
    for j in i[1]:
        print(j)

In [ ]:
df45 = pd.read_csv('Amazon Sale Report.csv',low_memory=False)

In [ ]:
df45['ship-city'].str.lower()

df45['ship-city'].str.upper()

df45['ship-city'].str.capitalize()

df45['ship-city'].str.title()

df45['ship-city'].str.strip()

df45.columns = [i.strip() for i in list(df45.columns) ]
df45.columns[5][-1]

df45.columns[5][-1]

In [ ]:
df45['ship-city'].str.contains('M').to_frame()

df45.dropna(inplace=True)
df45[df45['ship-city'].str.contains('MUM')]

df45[df45['Status'].str.startswith('Shi')]

df45[df45['Status'].str.endswith('d')]

df45['Status'].str.replace('Shipped -','')

df45['Style'].str.replace("[^a-zA-Z]",' ',regex=True)

df45['Style'].str.extract(r"(\d+)")#,' '#),regex=True)

df45[df45['Style'].str.isalnum()]

In [ ]:
import numpy as np
np.nan

df46 = pd.DataFrame({'id':[121,'4444l',53,'fsfgwefwe'],
                    'name':['a','b','c',5422],
                    'sal':[4224,424242,424,'sees'],
                    'city':['pune','mumbai','pune','chennai']})
df46['id'] = df46['id'].astype('str')
df46[df46['id'].str.isnumeric()]

In [ ]:
df47 = pd.DataFrame({'id':[101,102,103,104],
                    'name':['a','b','c','d'],
                    'date':['01-03-2024','04-03-2021','01-07-2024','08-03-2024'],
                     'dept':['IT','DEV','TEST','HR'],
                     'city':['pune','mumbai','pune','chennai'],
                    'sal':[5565786,23143536,42556,343356]})
df47

df47.pivot(index='date',columns='name')

df47.pivot(index='date',columns='name').fillna('---------')

df47.pivot(index='date',columns='sal').fillna('')
#whole table pivot on single column

In [ ]:
df45.drop_duplicates(inplace=True)
df45.dropna(inplace=True)
df45.pivot_table(index='Date',columns='ship-city')
#if duplicate

In [ ]:
df47.pivot(index='date',columns=['city','name','sal'],values='sal').fillna('')

In [ ]:
import pandas as pd

# Sample data
data = {
    'Date': ['2024-01', '2024-01', '2024-02', '2024-02', '2024-03', '2024-03'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South'],
    'Sales': [15000, 12000, 18000, 13000, 16000, 14000]
}

df = pd.DataFrame(data)

#df_pivot = df.pivot(index='Region', columns='Date', values='Sales)
df_pivot = df.pivot(index='Region', columns='Date')
df_pivot
df_pivot['Sales']['2024-01']

In [ ]:
df['dateformat'] = pd.to_datetime(df['Date'])
df['dateformat'].dt.year
df['dateformat'].dt.month
df['dateformat'].dt.day
df['dateformat'].dt.month_name()
df['dateformat'].dt.strftime("%Y-%m-%d %H:%M:%S.%f %p (%A, %B %d, %Y) | Week %U, Day %j | Timezone: %Z %z").to_frame().iloc[0,0]