In [ ]:
import pandas as pd

#RENAME 

dict = {"name":['sahil','rohit','keshav'],
        "id":[101,102,103],
        "city":['Pune','banglore','mumbai']}
df = pd.DataFrame(dict)
df.rename(columns={'name':'new_name'},index={1:'one'},inplace=True)
indx_mapper = {}
col_mapper = {}
for col , indx in zip(df.columns,df.index):
    indx_mapper[indx] = 'new_'+str(indx)
    col_mapper[col] = 'new_'+str(col)
#print(indx_mapper,col_mapper)
df.rename(columns = col_mapper , index = indx_mapper , inplace = True)
df

In [ ]:
#DROP

df.drop(list(df.columns),axis=1)
df.drop(list(df.index))
"""
for i , j in zip(df.columns,df.index):
    inp = input()
    if inp == 'y':
        df.drop(columns=i,index=j,inplace=True)
df"""

In [ ]:
import numpy as np
#DESCRIBE
df = pd.DataFrame({
    'A': [10, 20, 30, 40, 50],
    'B': [5, 15, 25, 35, 45],
    'C': ['x', 'y', 'x', 'y', 'x']
})

df.describe(include=[np.number])
df.describe(include=['object'])
df.describe(percentiles=[0.0009,0.023,0.885,0.88])

In [ ]:
num_columns = 100

# Generate a huge DataFrame with 1 million rows and 200 columns
data = {f'col_{i}': np.random.random(size=100) for i in range(num_columns)}

df = pd.DataFrame(data)
df

In [ ]:
#LOC , iLOC

#df.loc[0:4,'A':'C'] # [a,b]
#df.iloc[0:4,0:3] # [a,b)



indx_list = []
col_list = []
for col , indx in zip(df.columns,df.index):
    if indx & 1:
        indx_list.append(indx)
        col_list.append(col)

df.drop(columns = col_list , index = indx_list , inplace = True)
df_modified = df

#df_modified = df.drop[columns = [col+f'_{int(col.split('_')[-1])-1}' for col in col_list] , index = [indx - 1 for indx in indx_list] , inplace = True]

indx_mapper = {}
col_mapper = {}
for col , indx in zip(df_modified.columns,df_modified.index):
    indx_mapper[indx] = 'new_'+str(indx)
    col_mapper[col] = 'new_'+str(col)
#print(indx_mapper,col_mapper)
df_modified.rename(columns = col_mapper , index = indx_mapper , inplace = True)
df_modified

In [ ]:
df2 = pd.DataFrame(data)
df2

df2.iloc[95:,0] = df2.iloc[25:30,78]
df2['col_0'].min()

df2[df2['col_0'] == df2['col_0'].min()]

#TAIL AND HEAD
df2.iloc[95:,0] = df2.iloc[25:30,78]
import time , cProfile
def sort_each_col(df):
    for col in df.columns:
        df[col].sort_values(ascending=False)
    tailed = df.iloc[:,0].tail(5)
    for cf in df.columns[1:]:
        for low in df[cf].tail(5):
            indx = 0
            for lower in tailed:
                if lower > low:
                    tailed.iloc[indx] = low
                    indx += 1
    return tailed
            
start = time.time()        
print(sort_each_col(df2))  
end = time.time()
print(end - start)
#cProfile.run('sort_each_col(df2)')

import time , cProfile
df2.iloc[95:,0] = df2.iloc[25:30,78]
def compare_each_col(df):
    df.iloc[:,0] = df.iloc[:,0].sort_values(ascending=False)
    tailed = df.iloc[:,0].tail(5)
    for cf in df.columns[1:]:
        for low in df[cf]:
            indx = 0
            for lower in tailed:
                if lower > low:
                    tailed.iloc[indx] = low
                    indx += 1
    return tailed
start = time.time()        
print(compare_each_col(df2))
end = time.time()
print(end - start)
#cProfile.run('compare_each_col(df2)')

import pandas as pd

def find_lowest_5(df):
    # Flatten the DataFrame into a single Series, sort it, and return the lowest 5 values
    return df.stack().sort_values().head(5).reset_index(drop=True)
start = time.time()        
print(find_lowest_5(df2))
end = time.time()
print(end - start)

In [ ]:
## SAMPLE
import pandas as pd

# Sample DataFrame
data = {'A': range(1, 11), 'B': range(11, 21)}
df = pd.DataFrame(data)

# Get 3 random rows with a fixed random_state
sample1 = df.sample(n=3, random_state=43)
sample2 = df.sample(n=3, random_state=4)

# These two will be identical
print(sample1)
print(sample2)

sample3 = df.sample(frac=0.8)
print(sample3)

In [ ]:
#ITERROWS - (index , col(n) val(n)) val(n) - row[1][n]

for row in df2.iterrows():
    print(type(row[1]))
    print(type(row[0]))
    print(type(row[1][1]))
    print(row[1].iloc[1])
    print(row[1].keys())
    print(row[1].values)
    print(row[1].shape[0])
    print(row[1].index[2])

#ITERROWS - (index , col(n) val(n)) val(n) - row[1][n]

label_dict = { str(row[0])+'-'+row[1].keys()[count] : row[1].iloc[count] for row in df2.iterrows() for count in range(0,df2.shape[0]) } 
label_dict['99-col_99']

label_dict = {
    str(row[0]) + '-' + row[1].index[count]: row[1].iloc[count] 
    for row in df2.iterrows() 
    for count in range(0, df2.shape[1])  # Loop over the number of columns, not rows
}

print(label_dict['99-col_99'])

In [ ]:
#DTYPES ASTYPES SELECTTYPES

import pandas as pd

# Sample DataFrame with an 'object' column
data = {'Category': ['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']}
df = pd.DataFrame(data)

# Check the data type of the 'Category' column
print(df['Category'].dtype)  # Output: object

# Convert the 'Category' column to 'category' type
df['Category'] = df['Category'].astype('category')

# Check the data type again
print(df['Category'].dtype)  # Output: category

import pandas as pd
import numpy as np

# Creating a DataFrame with all types of columns
data = {
    'Integer': [1, 2, 3, 4, 5],
    'Float': [1.1, 2.2, 3.3, 4.4, 5.5],
    'Boolean': [True, False, True, False, True],
    'String': ['apple', 'banana', 'cherry', 'date', 'elderberry'],
    'Category': pd.Categorical(['small', 'medium', 'large', 'small', 'medium']),
    'Datetime': pd.to_datetime(['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01']),
    'Timedelta': pd.to_timedelta(['1 days', '2 days', '3 days', '4 days', '5 days']),
    'Period': pd.period_range('2022-01', periods=5, freq='M'),
    'Interval': pd.interval_range(start=1, end=11, freq=2) 
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
display(df.dtypes)
df.select_dtypes('datetime64[ns]')

In [ ]:
df2.shape[0]*df2.shape[1] == df2.size

In [ ]:
#NDIM MEMORY_USAGE()

df2.memory_usage(index=False , deep = True)

In [ ]:
#INDEX 

df2.index[13]
len(df2.index)
len(range(0,100))
df2.info()

In [ ]:
#PD.DATAFRAME()


dictionary = {"name":['sahil','rohit','keshav','sahil','rohit','keshav','sahil','rohit','keshav'],
        "id":[101,102,103,101,102,103,101,102,103],
        "city":['Pune','banglore','mumbai','Pune','banglore','mumbai','Pune','banglore','mumbai']}

df = pd.DataFrame(dictionary,index=pd.date_range('20250126',periods=9))#,columns=[1,2,3])
print(df)
df = pd.DataFrame(dictionary,index=pd.date_range('20250126',periods=9),columns=[1,2,3])
print(df)


data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)


data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}
]

df = pd.DataFrame(data)
print(df)

df = pd.DataFrame()
print(df)


import pandas as pd

# Original DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Assign df to df2 (both point to the same object)
df2 = df

# Modify df2
df2.loc[0, 'A'] = 100

# Print both DataFrames
print("Original df:")
print(df)

print("\nModified df2:")
print(df2)

import pandas as pd

data = {
    'A': [1, 2, 3],
    'B': [4.5, 5.5, 6.5]
}

df_original = pd.DataFrame(data)  # Original DataFrame
df_copy = pd.DataFrame(data, copy=True)  # Creates a new copy

df_copy.loc[0, 'A'] = 100  # Modify copied DataFrame

print("Original DataFrame:")
print(df_original)

print("\nCopied DataFrame:")
print(df_copy)


df.rename_axis('num',axis=0,inplace=True)
df.set_index('A')
df

In [ ]:
#CSV

#1st - url -- file path
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df3 = pd.read_csv(url)
df7 = pd.read_csv(url)
df4 = pd.read_csv(url , sep = ';')
df5 = pd.read_csv(url)
#display(df5)
#print(df5.loc[2,:].values)
def swap_series(df, indx1, indx2):
    df.loc[indx1, :], df.loc[indx2, :] = df.loc[indx2, :].copy(), df.loc[indx1, :].copy()
def push_col(df, indx):
    df.columns , df.loc[indx,:] = df.loc[indx,:] , df.columns
push_col(df5,200)
#display(df5)
swap_series(df5,200,0)
#display(df5)
df5.to_csv('swapped.csv')
df6 = pd.read_csv('swapped.csv')
#display(df6)

df7 = pd.read_csv(url , na_values = ['?','NaN','NULL','female'])
df7

In [ ]:
#SET INDEX , RESET INDEX , FILTER 

df3.set_index(['Survived','Name'],inplace=True)

In [ ]:
df3.set_index(['Ticket','Fare','Cabin','Survived','Name'],inplace=True)

In [ ]:
#SET INDEX , RESET INDEX , FILTER 

df3.filter(['Sex','Parch'],axis=1)
df3.filter(like = 'James',axis=0)

In [ ]:
df3.reset_index()
df3.set_index('Name',inplace=True)

In [ ]:
display(df3)
df3.filter(like = 'Cab' ) #by deafult axis = 1
df3.filter(like = 'Jo' , axis =  0)

In [ ]:
df3.set_index('Sex',drop=False,inplace=True)
df3

In [ ]:
#AGG

print(df3['Fare'].std())
print(df3['Fare'].max())
print(df3['Fare'].min())
print(df3['Fare'].count())
df3

In [ ]:
#ACCESS PARTICULAR DATA BASED ON CONDITION

df3[(df3['Sex'] == 'female') & (df3['Fare'] > 50.00)]
df3[(df3['Sex'] == 'female') & (df7['Fare'] > 80)]

In [ ]:

dict = {"name":['sahil','rohit','keshav'],
        "id":[101,102,103],
        "city":['Pune','banglore','mumbai']}
df8 = pd.DataFrame(dict)
print(df8['id'])
df9 = df8.copy()
df9['id'] = pd.Series([1000,220,4000])
df9['name'] = pd.Series(['Ajay',"Swara",'Tanya'])
df9['city'] = pd.Series(['PCMC','Bombay','Delhi'])
df9.rename({'name':'n',"id":'i',"city":'c'},axis = 1 , inplace = True)

display(df8[(df8['name'].str.contains('i')) & (df8['id']>100)])
display(df9)
display(df8[(df9['n'].str.contains('a')) | (df9['i']>3999)])

In [ ]:
#GROUPBY 

obj = df3.groupby('Sex')
for name , group in obj:
    display(name)
    display(group)
obj.get_group('male')['Fare'].max()
dir(obj)

In [ ]:
#obj.agg()
#1st - url -- file path
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df3 = pd.read_csv(url)
obj2 = df3.groupby('Age')
"""for name , group in obj2:
    display(name)
    display(group)"""

obj2.get_group(24.0)
agg_df1 = obj2.agg({'Fare':'max'})
agg_df1
agg_df2 = obj2.agg({'Fare':['sum','max','min']})
agg_df2.loc[[24.0],:]
agg_df3 = obj2.agg({'Fare':['sum','max','min'] , 'Survived':'sum'})
agg_df3['Survived'].max()
agg_df4 = obj2.agg({'Fare' : lambda x : x.max() - x.min()})
agg_df4.max()
agg_df5 = obj2.agg(Sum_Fare = ('Fare','sum'))
agg_df5
merged_df = obj2.agg({'Fare':'max'}).merge( obj2.agg({'Fare':'min'}) ,  on='Age' , suffixes=('_max','_min'))
merged_df
agg_df6 = df3.groupby('Sex').Fare.agg(['sum','min','max'])
agg_df6

In [ ]:
import pandas as pd

employees = pd.DataFrame({
    'emp_id': [101, 102, 103, 104],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept_id': [1, 2, 7, 3]
})

departments = pd.DataFrame({
    'dept_id': [1, 4, 3],
    'dept_name': ['HR', 'Engineering', 'Marketing']
})

pd.merge(employees,departments, on = 'dept_id', how='outer')

In [ ]:
#RANK

data = {
    "id": [1, 2, 3,4, 5, 6,7,8],
    "name": ["Alice1", "Bob1", "Charlie1","Alice2", "Bob2", "Charlie2","Bob3", "Charlie3"],
    "sal": [50000, 60000, 70000,80000,80900,60000,5573578,8348938],
    "city": ["New York", "Los Angeles", "Chicago","New York", "New York", "Los Angeles","Los Angeles", "Chicago"],
    "yoexp": [5, 8, 10,5, 8, 10,8, 10]
}
df = pd.DataFrame(data)
display(df)
df['rank'] = df.sort_values('sal' , ascending=False).groupby('city').cumcount()+1
display(df)
display(df.sort_values('sal' , ascending=False).groupby('city').get_group('New York'))
display(df.sort_values('sal' , ascending=False).groupby('city').get_group('Chicago'))
display(df.sort_values('sal' , ascending=False).groupby('city').get_group('Los Angeles'))
data1 = data
import pandas as pd

# Creating a dataset with duplicate values
data = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'A', 'B', 'B', 'A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 10, 50, 30, 20, 50, 10, 30]
})
display(data)

# Applying cumcount()
data['cumcount'] = data.groupby(['Category', 'Value']).cumcount()+1
display(data)

In [ ]:
display(pd.concat([df,data],axis = 1, keys=['df1','df2']))
display(pd.concat([df,data],axis = 0, keys=['df1','df2']))

In [ ]:
obj = df.groupby('city')
df_list = []
for name , group in obj:
    group = group.sort_values('sal',ascending=False)
    group['rank'] = group['sal'].rank(method = 'dense' , ascending=False)
    df_list.append(group)
con = pd.concat(df_list, axis = 0, keys = [f'df_{df}' for df in range(0,len(df_list))])
display(con)

#df['rank'] = obj.get_group('New York').rank(method = 'dense')
df['dense_rank'] = df['sal'].rank(method = 'dense')
df

obj2 = df.groupby('city')
df_list3 = []
for name , group in obj:
    group['rank'] = group.sort_values('sal',ascending=False)['sal'].rank(method = 'dense' , ascending=False)
    df_list3.append(group)
con2 = pd.concat(df_list, axis = 0, keys = [f'df_{df}' for df in range(0,len(df_list3))])
display(con2)

#df['rank'] = obj.get_group('New York').rank(method = 'dense')
df['dense_rank'] = df['sal'].rank(method = 'dense' )
df

In [ ]:
data = {
    "id": [1, 2, 3,4, 5, 6,7,8],
    "name": ["Alice1", "Bob1", "Charlie1","Alice2", "Bob2", "Charlie2","Bob3", "Charlie3"],
    "sal": [50000, 60000, 70000,80000,80900,60000,5573578,8348938],
    "city": ["New York", "Los Angeles", "Chicago","New York", "New York", "Los Angeles","Los Angeles", "Chicago"],
    "yoexp": [5, 8, 10,5, 8, 10,8, 10]
}
df = pd.DataFrame(data)
df = df.sort_values('sal')
df['first'] = df['sal'].rank(method='first')
df['max'] = df['sal'].rank(method='max')
df['min'] = df['sal'].rank(method='min')
df['avg'] = df['sal'].rank(method='average')
df['dense'] = df['sal'].rank(method='dense')
df

In [ ]:
import requests , json , pprint

response = requests.get("https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json")
content = response.content
#pprint.pprint(content)
dict_js = json.loads(content)
pprint.pprint(dict_js)
df_js = pd.DataFrame(dict_js)
df_js

In [ ]:
import pandas as pd

json_data = '''
[
    {"id": 1, "name": "Alice", "salary": 50000},
    {"id": 2, "name": "Bob", "salary": 60000},
    {"id": 3, "name": "Charlie", "salary": 70000}
]
'''

df = pd.read_json('config.json' , orient= 'index')
print(df)
import pandas as pd

data = {"name": "Alice", "age": 25, "salary": 50000}

df = pd.DataFrame(data,index=[0])
print(df)

In [ ]:
df_long = pd.read_json('large-file.json')
pd.DataFrame(df_long.actor.iloc[2] , index = [0])
for col in range(df_long.shape[-1]):
    for row in range(df_long.shape[0]):
        try:
            if type(df_long.iloc[row,col]) == type(dict):
                df_long.iloc[row,col] = [pd.DataFrame(df_long.iloc[row,col] , index = [0])]
        except:
                try:
                    df_long.iloc[row,col] = [[pd.DataFrame(df_long.iloc[row,col] , index = [0])]]
                except:
                    continue

In [ ]:
'''for col in range(2,df_long.shape[-1]):
    for row in range(df_long.shape[0]):
        try:
                display(df_long.iloc[row,col][0])
        except:
                continue
'''

In [ ]:
df_html = pd.read_html('https://en.wikipedia.org/wiki/List_of_deaths_due_to_COVID-19')

In [ ]:
df_html[5].to_html('table3.html')

In [ ]:
import datetime
df_html[5]['Last updated'] = datetime.datetime.now()
df_html[5]

In [ ]:
encode_dict = {'id':[101,102,103],
                'name' : ['A','B','C'],
                  "points":[100,200,300]
              }
df34 = pd.DataFrame(encode_dict)
df34
                    

def col_encode(val,p):
    if val == 100:
        return "low"
    elif val == 200:
        return "medium"
    else:
        return "high"
    

df34["code"] = df34['points'].apply(lambda x: col_encode(x,'p'))

def col_encode(val):
    if val < 50:
        return "low"
    elif val > 50:
        return "medium"
    else:
        return "high"
df34["code"] = df34['points'].map(col_encode) #map -- only one args

df34
df_html[5]['code'] = df_html[5].Age.map(col_encode)
df_html[5]

In [ ]:
from sqlalchemy import create_engine
import json

with open('config.json') as fp:
    dict = json.load(fp)
connection_str = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(dict["username"],dict["password"],dict["host"],dict["port"],dict["Database"])
conn = create_engine(connection_str)

In [ ]:
cat config.json

In [ ]:
pd.read_sql('select * from exam',conn)
pd.read_sql('exam',conn)
pd.read_sql_table('exam',conn)
pd.read_sql_query('select * from exam',conn)
df_html[5].to_sql(name='corona23',
                 if_exists='fail',
                 con = conn
                 )

In [ ]:
pd.read_sql_table('corona23',conn)

In [ ]:
df40 = pd.read_csv("Amazon Sale Report.csv" , low_memory=False)
temp = df40['ship-city'].value_counts().to_frame()
temp[temp['count'] >= 50]